[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
orator = "*"
python-dotenv = "*"
graphene = "*"
graphene-pydantic = "==0.1.0"

[dev-packages]
black = "==18.9b0"

[requires]
python_version = "3.8"
